* {
    box-sizing: border-box;
}
/* 
div ul{
    background-color: lightgray;
    margin: 10rem;
    border: 1px solid maroon;
}

ul {
    background-color: lightgray;
    margin: 25rem;
    border: 1px solid maroon;
    /* display: inline-flex; */

/* } */ 