* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Josefin Slab', serif;
    font-size: xx-large;
}
body{
    background-color: antiquewhite;
}
li {
    font-family: 'Quicksand', sans-serif;
}

#sea {
    font-family: 'My Soul', cursive;
    font-size: x-large;
}


div ul{
    background-color: lightgray;
    border: 1px solid maroon;
}

ul {
    background-color: lightgray;
    border: 1px solid maroon;
}